html{ 
    background-image: url(rps-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 120%; 
}
.win{
    background-image: url(download.jpg);
    border: 2px solid red;
}

.score{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: azure;
    border-radius: 8px;
    border: 2px solid azure;
    margin-bottom: 10px;
    width: 400px;

}

body{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;

    /* border: 2px solid red; */
}

.result{
    align-self: center;
    margin-top: 230px;
    width: 400px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid azure;
    background-color: rgb(143, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttons{
    display: flex;
    justify-content: center;
    gap:35px;
    width: 100%;
}
button{
    width: 150px;
    height: 150px;
    font-size: 25px;
    border-radius: 12px;
    border: 2px solid azure;
    background-color: rgb(29, 192, 192);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}
.hidden{
    display: none;
}

